@font-face {
  font-family: "yekan";
  src: url("/public/fonts/YekanBakhFaNum-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

body{
    direction: rtl;
}
*{
    font-family: "yekan";
}